@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';
@use '/src/styles/mixins/animation';

:root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}
