@mixin cubicBezier($duration) {
  transition: $duration;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@mixin load {
  @keyframes load {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@mixin fillProgress {
  @keyframes fillProgress {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
}

@mixin loadText {
  @keyframes loadText {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
    }
  }
}

@mixin float {
  @keyframes float {
    0%, 100% {
      transform: translateY(0px) scale(1);
      opacity: 0.3;
    }
    50% {
      transform: translateY(-20px) scale(1.2);
      opacity: 0.8;
    }
  }
}
